/* TODO(Rennorb) @ui: horizontal layout for wide */
#tick-main-wrap {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.internal-note {
	--i-box--ba-co: hsl(30, 18%, 30%);
	--i-boxHeader--ba-co: var(--i-box--ba-co);
}

.ipsSubmitRow {
	display: flex;
	flex-direction: row;
	gap: .5em;
}

.ipsSubmitRow>* {
	margin-top: 1.25em;
}

.ipsSubmitRow>[title] {
	position: relative;
}

.ipsSubmitRow>[title]::before {
	content: attr(title);
	position: absolute;
	bottom: calc(100% + .25em);
	left: 1ch;
}

.ipsSubmitRow .ipsSwitch:before {
	left: 0; /* fix bug in core */
}

#extra-blocks-container {
	display: flex;
	flex-direction: column;
	gap: 1em;
}