/* TODO(Rennorb) @ui: horizontal layout for wide */
#tick-main-wrap {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.ticket-message.message-internal {
	--i-box--ba-co: hsl(40, 90%, 10%);
	--i-boxHeader--ba-co: var(--i-box--ba-co);
	--message-color: hsl(40, 80%, 45%);
}

.ipsSubmitRow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: .5em;
}

.ipsSubmitRow>* {
	margin-top: 1.25em;
}

.ipsSubmitRow .stretch {
	height: 100%;
}
.ipsSubmitRow>button {
	line-height: 2;
}

.ipsSubmitRow>[title] {
	position: relative;
}

.ipsSubmitRow>[title]::before {
	content: attr(title);
	position: absolute;
	bottom: calc(100% + .25em);
	left: 1ch;
}

.ipsSubmitRow .ipsSwitch:before {
	left: 0; /* fix bug in core */
}

#extra-blocks-container {
	display: flex;
	flex-direction: column;
	gap: 1em;
}