/* labels */

.prio-label, .status-label {
	display: inline-block;
	padding: 0 .25em;
  height: 1.2em;
  line-height: 1;
  border-radius: .125em;
	white-space: nowrap;
}

[data-ips-scheme="dark"] {
	--tick-prio-c--2-bg: #333; --tick-prio-c--2-fg: #ccc;
	--tick-prio-c--1-bg: #333; --tick-prio-c--1-fg: #ccc;
	--tick-prio-c-0-bg: #727272; --tick-prio-c-0-fg: #222;
	--tick-prio-c-1-bg: #cec549; --tick-prio-c-1-fg: #333;
	--tick-prio-c-2-bg: #860d0d; --tick-prio-c-2-fg: #ccc;
}
[data-ips-scheme="light"] {
	--tick-prio-c--2-bg: #efefef; --tick-prio-c--2-fg: #333;
	--tick-prio-c--1-bg: #efefef; --tick-prio-c--1-fg: #333;
	--tick-prio-c-0-bg: #888888; --tick-prio-c-0-fg: #333;
	--tick-prio-c-1-bg: #cec549; --tick-prio-c-1-fg: #333;
	--tick-prio-c-2-bg: #860d0d; --tick-prio-c-2-fg: #333;
}

.prio-label.prio--2 { background-color: var(--tick-prio-c--2-bg); color: var(--tick-prio-c--2-fg); }
.prio-label.prio--1 { background-color: var(--tick-prio-c--1-bg); color: var(--tick-prio-c--1-fg); }
.prio-label.prio-0 { background-color: var(--tick-prio-c-0-bg); color: var(--tick-prio-c-0-fg); }
.prio-label.prio-1 { background-color: var(--tick-prio-c-1-bg); color: var(--tick-prio-c-1-fg); }
.prio-label.prio-2 { background-color: var(--tick-prio-c-2-bg); color: var(--tick-prio-c-2-fg); }


/* Message coloring */
.ticket-message.message-issuer { --message-color: #358ef4; }
.ticket-message.message-moderator { --message-color: #2fa92f; }
.ticket-message {
	border-left: solid var(--message-color, var(--i-background_4)) .5em;
}
.ticket-message .message-author {
	color: var(--message-color);
}

.ticket-message.email-ingest>:last-child {
	white-space: pre;
	line-break: normal;
}